<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT" additivity="true">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%5p] [%C{2}.%M:%L] : %m%n" />
			<ThresholdFilter level="debug" />
		</Console>
		<RollingFile name="RollingFile" fileName="/log/cobot/app.log"
			filePattern="/log/cobot/bak/app-%d{yyyy-MM-dd}.%i.log.gz" ignoreExceptions="false">
			<PatternLayout>
				<Pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%5p] [%C{2}.%M:%L] : %m%n</Pattern>
			</PatternLayout>
			<TimeBasedTriggeringPolicy interval="1" />
			<SizeBasedTriggeringPolicy size="100 mb" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>
		<logger name="com.gargoylesoftware.htmlunit" level="off">
			
		</logger>
	</Loggers>
</Configuration>